.container{
    height: 300px;
    width: 400px;
    filter: grayscale(100%);
    float: left;
}

img{
    width: 300px;
    height: auto;
}

.container:hover{
    filter: grayscale(0%);
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}