.container{
    height: 300px;
    width: 400px;
    filter: grayscale(100%);
    float: left;
}

img{
    width: 300px;
    height: auto;
}

.container:hover{
    filter: grayscale(0%);
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 640px) {
  .item {
    width: 100%;
    margin-bottom: 20px;
  }
}


@media (min-width: 960px) {
  .item {
    width: 48%;
  }
}


@media (max-width: 640px) {
  .item {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
}
